body {
    background-color: orange;
}

.builder {
    display: grid;

    padding: 20px;

    gap: 10px 30px;
    grid-template-columns: 1fr 90px 270px 90px;
    grid-template-rows: repeat(4, 90px);

    grid-template-areas: 
    "choose_head choosed_head character weapon"
    "choose_chestplate choosed_chestplate character ."
    "choose_leggings choosed_leggings character ."
    "choose_boots choosed_boots character shield";

    border: solid 5px white;
    border-top: solid 5px darkgrey;
    border-left: solid 5px darkgray;

    border-radius: 10px;

    box-shadow: 0px 0px 0px 2px black;

    background-color: lightgray;


}

.builder>div {
    background-color: gray;

    border: solid 2px white;
    border-top: solid 2px black;
    border-left: solid 2px black;
}

.builder .chooser {
    display: flex;

    flex-wrap: nowrap;

    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: darkgray gray;
}

.builder .chooser.head {grid-area: choose_head;}
.builder .chooser.chestplate {grid-area: choose_chestplate;}
.builder .chooser.leggings {grid-area: choose_leggings;}
.builder .chooser.boots {grid-area: choose_boots;}

.chooser>img {
    margin: 3px;
}

.chooser>img.selected {
    /*box-shadow: 1px 1px 5px 2px rgba(255, 255, 255, 0.65);*/
    filter: drop-shadow(-1px -5px 1px #4444dd);
}

.chooser>img:hover {
    /*box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.65);*/
    filter: drop-shadow(5px 5px 1px #ffaa00);
}

.builder .choosed.head {grid-area: choosed_head;}
.builder .choosed.chestplate {grid-area: choosed_chestplate;}
.builder .choosed.leggings {grid-area: choosed_leggings;}
.builder .choosed.boots {grid-area: choosed_boots;}



.builder .character {
    grid-area: character;
    background-color: black;
}

.builder .weapon {grid-area: weapon;}
.builder .shield {grid-area: shield;}

.builder .chooser, .builder .choosed {
    /*border: black solid 1px;*/
}

.chest {
    padding: 20px;
    padding-top: 0px;

    border: solid 5px white;
    border-top: solid 5px darkgrey;
    border-left: solid 5px darkgray;

    border-radius: 10px;

    box-shadow: 0px 0px 0px 2px black;

    background-color: lightgray;

    outline: 0;
}

dialog.chest h1 {
    font-size: 32px;
    margin: 10px;
    margin-left: 0;
    padding: 0;

    color: rgb(92, 92, 92);
    font-family: 'Courier New', Courier, monospace;
}

dialog.chest section {
    display: grid;

    grid-template-columns: repeat(6, 60px);
    grid-template-rows: auto;

    gap: 5px;

}

dialog.chest section input {
    display: none;
}

dialog.chest section input:checked + label {
    box-shadow: 5px 5px 3px 0px rgba(255, 110, 0, 0.8);
}

dialog.chest section img {
    width: 60px;
    height: 60px;

    box-sizing: border-box;

    background-color: gray;

    border: solid 2px white;
    border-top: solid 2px black;
    border-left: solid 2px black;
}

dialog.chest footer {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 10px;
}

dialog.chest footer input {
    width: 50%;
    padding: 5px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    font-weight: bolder;
}